// импорт библиотек
@import '_general.scss';

// Подключенные файлы: 
// 1. _general.scss (общие стили);


//	Оглавление:

//	7. Главная страница
//	    7.1 Шапка
//	    7.2 Основной контент
//	    7.3 Подвал сайта	


// Переменные для общего использования:


// 7 ГЛАВНАЯ СТРАНИЦА ===================================
//  7.1 ШАПКА ===========================================
//  7.2 ОСНОВНОЙ КОНТЕНТ ================================
//  7.3 ПОДВАЛ САЙТА ====================================
//  7.4 ОСТАЛЬНЫЕ СТИЛИ ==================================




