
// создать круглую картинку ссылку
@mixin round-link-img ($width: 8em, $height: 8em, $bottom: 0){
	border-radius: 50%;
	margin-bottom: $bottom;
	display: block;
	border-radius: 50%;
	width: $width;
	height: $height;
	overflow: hidden;
}

// создать абсолютные псевдоэлементы
@mixin absolute-pseudo ($width: 0, $height: 0, $position: absolute, $content: "", $display: block) {		
	content: $content;
	display: $display;
	position: $position;
	width: $width;
	height: $height;			
}

// создать абсолютный элемент
@mixin absolute-elem ($width: 0, $height: 0, $position: absolute) {
	width: $width;
	height: $height;
	position: $position;
}

// внутренняя тень текста
@mixin text-shadow($x: 0, $y: 0, $blur: 0) {
	text-shadow: $x $y $blur;
}

// внутренняя тень блока
@mixin box-shadow-in($x: 0, $y: 0, $blur: 0, $stretch: 0, $color: #000, $inset: inset) {
	box-shadow: $inset $x $y $blur $stretch $color;
}

// свойство трансформации
@mixin transform($tX: 0, $tY: 0, $r: 0) {
	transform: translate($tX, $tY) rotate($r);
} 

// выравнивание абсолютно спозиционированного элемента
@mixin absolute-centering($left: 50%, $top: 50%) {
	left: $left;
	top: $top;
	@include transform(-$left, -$top);
}

@mixin image-fon($url, $left: 50%, $top: 50%, $size: cover) {
	background: url($url) no-repeat $left $top / $size;
};





@mixin retina-min($ratio: 1.5) {
	@media (-webkit-min-device-pixel-ratio: $ratio), (min-resolution: #{$ratio}dppx) {
		@content;
	}
}
@mixin retina-max($ratio: 1.5) {
	@media (-webkit-min-device-pixel-ratio: $ratio), (min-resolution: #{$ratio}dppx) {
		@content;
	}
}
@mixin retina-between($ratio-min: 1, $ratio-max: 2) {
	@media(-webkit-min-device-pixel-ratio: $ratio-min) and (-webkit-max-device-pixel-ratio: $ratio-max), 
	      (min-resolution: #{$ratio-min}dppx) and (max-resolution: #{$ratio-max}dppx) {
				@content;
		  }
}